h1{
  border-bottom:1px solid gray;
   font-size:45px;
   text-align:center;
   margin:0;
   padding:20px;
 }
 ol{
   border-right:1px solid gray;
   width:120px;
   margin:0;
   padding:20px;
 }
 body{
   margin:0;
 }
a{text-decoration:none;
  color:black;}
#grid ol{
  padding-left:33px;
  padding-right:5px;
}
#new1{
  padding-left:7px;

}

#grid{
  display: grid;
  grid-template-columns: 175px 1fr;
}
@media(max-width:500px) {
  #grid{
    display:block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }

}
